{% extends 'base_page.html' %}
{% load bootstrap4 %}

{% block bootstrap4_title %}Регистрация{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-center">
        <div>
            <div class="card border-dark mb-3" style="max-width: 28rem;">
                <div class="card-header">Регистрация аккаунта</div>
                    <div class="card-body text-dark">
                        <h6 class="card-title">Пожалуйста, введите свой логин и пароль в форму:</h6>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}